.card {
text-align: center;
  img {
    width: 100px;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  &-trip {
      height: 250px;
      text-shadow: 0 1px 3px $gray-lighty;
      background-size: cover !important;
      color: $white;
      position: relative;
      border-radius: 5px;
      margin-bottom: 20px;
  }
  &-category {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 20px;
  }
  &-description {
      position: absolute;
      bottom: 10px;
      left: 10px;
  }
  &-user {
      position: absolute;
      right: 10px;
      top: 10px;
  }
}
