#footer {
  background-color: $dark_gray;
  color: $light-gray;
  padding: 40px 0;
  a {
    color: $light-gray;
    font-size: 30px;
    transition: 1s ease;
    letter-spacing: 20px;
    &:hover {
      color: $yellow;
    }
  }
  p {
    margin-top: 10px;
  }
}
