<!-- _footer.erb -->

<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <ul class="list-inline">
          <li>
            <a href="#">
              <i class="fa fa-youtube-play" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <% link_to "#" do %>
              <i class="fa fa-instagram" aria-hidden="true"></i>
            <% end %>
          </li>
          <li>
            <% link_to "#" do %>
              <i class="fa fa-facebook" aria-hidden="true"></i>
            <% end %>
          </li>
          <li>
            <% link_to "#" do %>
              <i class="fa fa-twitter" aria-hidden="true"></i>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="col-xs-8 text-right">
      <p>This is a Airbnb Home challenge @ LeWagonBordeaux</p>
      </div>
    </div>
  </div>
</div>
